<html>
    <body>
        <b>Invoice {{Ctrl.membership.identifier}}</b><br><br>
        <b>
            <span ng-if="Ctrl.membership.company.length > 0">{{Ctrl.membership.company}}<br></span>
            <span ng-if="Ctrl.membership.firstName.length > 0">{{Ctrl.membership.firstName}} {{Ctrl.membership.lastName}}<br></span>
            <span ng-if="Ctrl.membership.address.length > 0">{{Ctrl.membership.address}}<br></span>
            <span ng-if="Ctrl.membership.locality.length > 0">{{Ctrl.membership.locality}}<br></span>
            <span ng-if="Ctrl.membership.country.length > 0">{{Ctrl.membership.country}}<br><br></span>
        </b>

        <table  width="200px">
            <tr><td>Invoice nr: </td><td>{{Ctrl.membership.identifier}}</td></tr>
            <tr><td>Date: </td><td>{{Ctrl.membership.currentDate}}</td></tr>
        </table><br><br>

        <table width="400px">
            <tr  style="border: 1px solid #ddd;"><td style="padding: 5px;"><b>Workplace</b></td><td>{{Ctrl.membership.workplaceName}}</td></tr>
            <tr  style="border: 1px solid #ddd;"><td style="padding: 5px;"><b>Plan</b></td><td>{{Ctrl.membership.planName}}</td></tr>
            <tr  style="border: 1px solid #ddd;"><td style="padding: 5px;"><b>Days</b></td><td>{{Ctrl.membership.days}}</td></tr>
            <tr  style="border: 1px solid #ddd;"><td style="padding: 5px;"><b>Price</b></td><td>{{Ctrl.membership.priceFormatted}}</td></tr>
            <tr  style="border: 1px solid #ddd;"><td style="padding: 5px;"><b>Membership starts at</b></td><td>{{Ctrl.membership.start}}</td></tr>
            <tr  style="border: 1px solid #ddd;"><td style="padding: 5px;"><b>Membership end at</b></td><td>{{Ctrl.membership.end}}</td></tr>
        </table><br><br>

        This is your invoice for your membership {{Ctrl.membership.identifier}} from {{Ctrl.membership.start}} till {{Ctrl.membership.end}}. <br>
        Questions? Please contact <a href="mailto: {{Ctrl.membership.csmEmail}}">{{Ctrl.membership.csmEmail}}</a>.<br><br>

        Regards,<br><br><br>

        <b>{{Ctrl.membership.csmName}}</b><br>
        {{Ctrl.membership.csmAddress}}<br>
        {{Ctrl.membership.csmLocality}}<br>
        {{Ctrl.membership.csmCountry}}<br>
        <a href="mailto: {{Ctrl.membership.csmEmail}}">{{Ctrl.membership.csmEmail}}</a><br>
        <a href="{{Ctrl.membership.csmWebsite}}">{{Ctrl.membership.csmWebsite}}</a><br>
    </body>
</html>