.csm-frontend {
    font-family: $font-family-sans-serif;
    font-size: $font-size-base;
    background-color: $csm-primary;
    padding-top: $navbar-height + 20;
}

.panel-login {
    margin-top: 50px;
}

.avatar-big {
    width: 100px;
    height: 100px;
    border-radius: 100px;
}

.table-vertical {
    tbody {
        
     tr {
        td {
            vertical-align: middle!important;
        }
    } 
    }
}

.navbar-brand {
    padding: 5px!important;
    
    .coworking-navbar-logo {
    height: 40px;
}
}
