body {
    background: #f1f1f1;
    color: #444;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    font-size: 13px;
    line-height: 1.4em;
    min-width: 600px;
}

.label-member-active {
    font-size: 13px;
    display: block;
}

.nav-tabs {
    margin-top: 20px;
    margin-bottom: 20px;
}

.widefat td {
    padding: 8px 10px!important;
}

.days-circle {
    float: left;
    display: block;
    border-radius: 30px;
    min-width: 35px;
    height: 35px;
    border: 2px solid #555;
    text-align: center;
    font-weight: bold;
    line-height: 31px;
    padding-left: 5px;
    padding-right: 5px;
}

.note {
    color: #939393;
    font-style: italic;
    line-height: 30px;
}