
.dropdown-menu {
    position: absolute!important;
    top: 100%;
    left: 0; 
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    list-style: none;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
    box-shadow: 0 6px 12px rgba(0,0,0,0.175);
    background-clip: padding-box;
}

.datepicker {
    margin-top: 38px;
}

.datepicker table tr td.disabled, .datepicker table tr td.disabled:hover {
    background: 0 0;
    color: #e8e8e8;
    cursor: default;
}


.coworking-space-menu {
    .wp-submenu {
        li:nth-child(3),
            li:nth-child(4),
            li:nth-child(5),
            li:nth-child(6),
            li:nth-child(13),
            li:nth-child(14),
            li:nth-child(16),
            li:nth-child(17)

            {
            display: none;
        }
    }
}